nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.brand{
    font-size: 2rem;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    align-items: center;

}

.btn{
    border: 2px solid greenyellow;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: transparent;
    color: yellowgreen;
}

.menuIcon{
    display: none;

}